<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- == Material == -->
  <material name="wheel_color">
    <color rgba="0.3 0.3 0.3 1"/>
  </material>
  <material name="wheel_guard_color">
    <color rgba="0.3 0.3 0.3 0.8"/>
  </material>
  <material name="tframe_color">
    <color rgba="0.3 0.3 0.3 1"/>
  </material>
  
  <!-- Link -->
  <link name="WIRE_GUARD_L">
    <visual>
      <origin xyz="0.72 -0.01 0.0255" rpy="${M_PI/2} 0 0"/>
      <material name="wheel_guard_color"/>
      <geometry>
        <mesh filename="package://rtr_double_arm_v7_description/meshes/tframe.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.72 -0.01 0.0255" rpy="${M_PI/2} 0 0"/>
      <geometry>
        <mesh filename="package://rtr_double_arm_v7_description/meshes/tframe.stl"/>
      </geometry>      
    </collision>
    <inertial>
      <mass value="0.1" />
      <origin xyz="0.0 0.0 0.0" rpy="0 -0 0" />
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
    </inertial>
  </link>
  <link name="WIRE_GUARD_R">
    <visual>
      <origin xyz="0.72 0.01 0.0255" rpy="${M_PI/2} 0 0"/>
      <material name="wheel_guard_color"/>
      <geometry>
        <mesh filename="package://rtr_double_arm_v7_description/meshes/tframe.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.72 0.01 0.0255" rpy="${M_PI/2} 0 0"/>
      <geometry>
        <mesh filename="package://rtr_double_arm_v7_description/meshes/tframe.stl"/>
      </geometry>      
    </collision>
    <inertial>
      <mass value="0.1" />
      <origin xyz="0.0 0.0 0.0" rpy="0 -0 0" />
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
    </inertial>
  </link>
  <link name="TFRAME">
    <visual>
      <origin rpy="${M_PI/2} 0 0"/>
      <material name="tframe_color"/>
      <geometry>
        <mesh filename="package://rtr_double_arm_v7_description/meshes/frame1.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="${M_PI/2} 0 0"/>
      <geometry>
        <mesh filename="package://rtr_double_arm_v7_description/meshes/frame1.stl"/>
      </geometry>      
    </collision>
    <inertial>
      <mass value="1e-06" />
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
    </inertial>
  </link>

  <!-- Transmission -->
  <xacro:joint_velocity_trans_v0 name="TRACK_L"/>
  <xacro:joint_velocity_trans_v0 name="TRACK_R"/>
  <joint name="WIRE_GUARD_L" type="fixed">
    <origin xyz="0.02 0.61 -0.32" rpy="0.0 -0.0 0.0" />
    <parent link="TFRAME" />
    <child link="WIRE_GUARD_L" />
  </joint>
  <joint name="WIRE_GUARD_R" type="fixed">
    <origin xyz="0.02 -0.61 -0.32" rpy="0.0 -0.0 0.0" />
    <parent link="TFRAME" />
    <child link="WIRE_GUARD_R" />
  </joint>
  
</robot>
